.authentication

  %h2= current_page_title

  .col-md-6
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "authentication-form" }) do |f|
      = f.input :email, autofocus: true
      = f.input :given_names
      = f.input :last_name
      = f.input :password, autocomplete: "off", hint: "Minimum is #{Rails.configuration.devise.password_length.min} characters"
      = f.input :password_confirmation, autocomplete: "off"
      .form-actions
        = f.button :submit, "Sign up", class: "btn btn-default"
        = link_to "Sign in", new_user_session_path, class: "btn btn-primary"
