= simple_form_for [:member, @event] do |f|
  = simple_fields_for(@santas)
    = f.input :name
    = f.input :email

  .form-actions
    = f.submit class: "btn btn-default"
    = link_to "Go back", member_dashboard_index_path, class: "btn btn-alt"
