- if @santas.any?
  %table
    %thead
      %h2 Your secret santa lists
      %tr
        %th Name
        %th Email
        %th.actions Actions
      %tbody
        - @santa.each do |santa|
          %tr
            %td= santa.name
            %td= santa.email
            %td.actions
              = link_to "View", member_list_path(list), class: "btn btn-small"
              = link_to "Edit", edit_member_list_path(list), class: "btn btn-small"
              = link_to "Delete", member_list_path(list), method: :delete, data: { confirm: "Are you sure you want to delete this list?" }, class: "btn btn-small"
