.container.white-text
  .col-lg-2
  .col-lg-6
    %h1 Secret Santa
    %p Welcome to Secret Santa
    %p
      = link_to "Create your first list!", new_user_registration_path, class: "btn btn-primary btn-lg"
      = link_to "Already an organiser? Sign in", new_user_session_path, class: "btn btn-default btn-lg"
  .col-lg{style:"text-align:left;"}
    = image_tag("santa_with_sack_med.png")
%br
%br
.row.white-text
  .col-lg-4
    %img.img-circle{height: "140", src: "assets/checklist.png", width: "140"}
    %h2 Easy organising
    %p
      If you're organising a gift exchange for your family or workplace, let
      Secret Santa take care of the organising for you. Easily add lists of your
      contacts, send out notification emails, and shuffle your list of santas.
    %p
      = link_to "Find out more", "#", class: "btn btn-primary"
  .col-lg-4
    %img.img-circle{height: "140", src: "assets/open_letter.png", width: "140"}
    %h2 How it works
    %p
      Once you have your list of Santas, let computer take care of the rest!
      It will shuffle all your users around, no matter how big your list is, and
      randomly assign each person a Santa. Once everyone is assigned, each Santa
      recieves a notification email letting them know what the details are.
    %p
      = link_to "Watch example video", "#", class: "btn btn-primary"
  .col-lg-4
    %img.img-circle{height: "140", src: "assets/gift.png", width: "140"}
    %h2 It's free!
    %p
      Secret Santa is free to use. There's no adverts, no spamming and we keep
      your details safe.
    %p
      The Secret Santa is free to use for lists of up to 15 people, but if you
      need more, we offer bigger list sizes.
    %p
      = link_to "Find out more", "#", class: "btn btn-primary"
