.authentication

  %h2= current_page_title

  .col-md-6
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "authentication-form" }) do |f|
      = f.input :email, autofocus: true
      = f.input :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      .form-actions
        = f.button :submit, "Sign in", class: "btn btn-primary"
        = render 'devise/shared/links'
