%p Dear #{@santa.name}

%p You're on the list for #{@list.name}!

%p You are a Secret Santa for #{@recipient.name}.

%p Remember to keep it a secret!

%p
  Note: Your organiser, #{@list.user.given_names}, has set the day to exchange |
  gifts to be on #{@list.gift_day.strftime("%A, %B %-d, %Y")}.

%p Thanks for participating, and have a great day!

%p Captain Santa
