%p Dear #{@santa.name}

%p You're on the list for #{@list.name}!

%p You are a Secret Santa for #{@recipient.name}.

%p
  Note: Your organiser, #{@list.user.given_names}, has set the day to exchange
  gifts to be on #{@list.gift_day.strftime("%A, %B %-d, %Y")}.

- if @list.gift_value.present? && @list.gift_value > 0
  %p The gift value set by #{@list.user.given_names} is: $#{@list.gift_value}

%p Thanks for participating, and have a great day!

%p Captain Santa
