= simple_form_for [:member, @list], html: { class: 'form'} do |f|
  .col-md-6
    .form-group
      -#TODO: Move star on required field to right
      = f.input :name, class: "form-control", label: "Name",
                hint: "Give this list a name, for example: Family Secret Santa"
      = f.input :gift_day, class: "form-control", as: :date
      .form-inputs
        = f.input :gift_value, wrapper: :vertical_input_group,
          hint: "Optional. Does your list have a gift value limit? Set it here." do
          %span.input-group-addon $
          = f.input_field :gift_value, class: "form-control",
            input_html: { min: 0, max: 9999.99 }

    .form-actions
      = f.submit class: "btn btn-primary btn-raised"
      = link_to "Go back", member_dashboard_index_path, class: "btn btn-default btn-raised"
