= simple_form_for [:member, @list], html: { class: 'form' } do |f|
  .form-group
    = f.input :name, class: "form-control", label: "Name", hint: "Give this list a name, for example: Family Secret Santa"

  %h2 Santas
  #santas
    .form-group
      = f.simple_fields_for :santas do |santa|
        = render "santa_fields", f: santa
    .links
      = link_to_add_association "Add Santa", f, :santas, class: "btn btn-small btn-success"

  .form-actions
    %br
    = f.submit class: "btn btn-primary"
    = link_to "Go back", member_dashboard_index_path, class: "btn btn-default"
