.col-md-9
  %h2 Santas
  .panel.panel-warning
    .panel-heading
      %h3.panel-title Please note!
    .panel-body
      %ul
        %li Currently, all lists are capped at a maximum of 15.
        %li Don't forget to include your own Name and Email if you're taking part
  = simple_form_for [:member, @list], html: { class: 'form', novalidate: false  } do |f|
    - if @list.santas.size > 15
      %button.btn.btn-large.btn-warning{"data-target" => "#more_than_15", "data-toggle" => "modal", type: "button"}
        Too many Santas? Click for more info.
      #more_than_15.modal.fade{"aria-labelledby" => "more_than_15Label", role: "dialog", tabindex: "-1"}
        = render "more_than_15_modal"
    #santas
      .form-group.santas
        = f.simple_fields_for :santas do |santa|
          = render "santa_fields", f: santa
      .form-group
        .links
          = link_to_add_association "Add Santa", f, :santas, class: "btn btn-default btn-raised"
          = f.submit "Save Santas", class: "btn btn-primary btn-raised"
.col-md-3.tr.pt5
  = image_tag("santa_with_sack_full.png")
