%main{role: "main"}
  %h1= current_page_title(@list.name)

  - not_enough = @list.santas.count < 3

  - if @list.santas.any?
    - unless @list.is_locked
      - if not_enough
        %i= "Please add some more Santas to your list. We need at least three."
      - else
        %p Ready to set recipients for your list and lock it in?
        %button.btn.btn-primary.btn-large.btn-success{"data-target" => "#confirm_lock_and_send", "data-toggle" => "modal", type: "button"}
          Lock, assign and send
        #confirm_lock_and_send.modal.fade{"aria-labelledby" => "confirm_lock_and_sendLabel", role: "dialog", tabindex: "-1"}
          = render 'confirm_modal'
    - else
      %i Note: List is locked. Santas have been assigned and emailed.

    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
        %tbody
          - @list.santas.each do |santa|
            %tr
              %td= santa.name
              %td= santa.email
  - else
    %p There aren't any Santas in this list yet!
    = link_to "Add some?", edit_member_list_path(@list),
    class: "btn btn-small btn-default"
    or

  = link_to "Go Back", member_dashboard_index_path, class: "btn btn-primary"
