%main{role: "main"}
  %h1= current_page_title(@list.name)
  %i The gift day set for this list is #{@list.gift_day.strftime("%A, %B %-d, %Y")}
  %hr

  - not_enough = @list.santas.count < 3

  - if @list.santas.any?
    - unless @list.is_locked
      - if not_enough
        %i= "Please add some more Santas to your list. We need at least three."
        = link_to "Add more Santas", member_list_santas_path(@list),
          class: "btn btn-small btn-default btn-raised"
      - elsif @list.gift_day < Time.zone.today
        .alert.alert-warning{role: "alert"}
          The gift day has passed. Before you can email your users, you must set a new date.
          = link_to "Set new date", "#", class: "btn btn-default"
      - else
        %p Ready to set recipients for your list and lock it in?
        %button.btn.btn-large.btn-success.btn-raised{"data-target" => "#confirm_lock_and_send", "data-toggle" => "modal", type: "button"}
          Lock, assign and send
        = link_to "Add more Santas to this list", member_list_santas_path(@list),
          class: "btn btn-small btn-default btn-raised"
        #confirm_lock_and_send.modal.fade{"aria-labelledby" => "confirm_lock_and_sendLabel", role: "dialog", tabindex: "-1"}
          = render 'confirm_modal'
    - else
      %i Note: List is locked. Santas have been assigned and emailed.
      %br
      %br
      - unless @list.revealed?
        %p
          If you like, you can reveal your list. This will show you who has been
          assigned to who. It won't notify anyone, it will just show it to you.
        %p= link_to "Reveal List", member_list_reveal_santas_path(@list), method: :patch, class: "btn btn-warning btn-raised"

    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
          - if @list.revealed?
            %th Giving to
        %tbody
          - @list.santas.each do |santa|
            %tr
              %td= santa.name
              %td= santa.email
              - if @list.revealed?
                %td
                  - if santa.giving_to.present?
                    = santa.recipient.name
                  - else
                    This person has not been assigned.
  - else
    %p There aren't any Santas in this list yet!
    = link_to "Add some?", member_list_santas_path(@list),
    class: "btn btn-small btn-default btn-raised"
    or

  = link_to "Go Back", member_dashboard_index_path, class: "btn btn-primary btn-raised"
