%main{role: "main"}
  %h1= current_page_title(@list.name)

  - not_enough = @list.santas.count < 3

  - if @list.santas.any?
    %p Ready to set recipients for your list and lock it in?
    %p
      = button_to "Lock, assign and send", member_list_lock_and_assign_url(@list), |
      method: :patch, class: "btn btn-large btn-danger", data: { confirm: "Are you sure?" }, |
      disabled: (not_enough)
      - if not_enough
        %i= "Not available if there are less than three (3) Santas in your list"
      - else
        %i Note this cannot be undone, please be certain!

    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
        %tbody
          - @list.santas.each do |santa|
            %tr
              %td= santa.name
              %td= santa.email
  - else
    %p There aren't any Santas in this list yet!
    = link_to "Add some?", edit_member_list_path(@list), class: "btn btn-small btn-default"
    or

  = link_to "Go Back", member_dashboard_index_path, class: "btn btn-primary"
