!!! 5
%html
  %head
  %title= page_title
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %header
      .container
        .navigation-wrapper
          %nav
            %ul.site-nav
              = render "layouts/navigation"
          .container
            - flash.each do |key, value|
              .flash-wrapper
                .flash{class: "flash-#{key}"}= value

            = content_for?(:content) ? yield(:content) : yield
